body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

nav {
  background: dodgerblue;
  height: 10vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-size: 4em;
  font-family: sans-serif;
  color: white;
  margin: 0 30px;
}

#search-bar {
  width: 400px;
  background: #8ec7ff;
  margin: 0 25px;
  display: inline-flex;
}

#search-bar-textbox {
  font-size: 2em;
  width: 344px;
  color: white;
  border: none;
  background: #8ec7ff;
  padding: 5px 15px;
}

#search-icon {
  color: white;
  font-size: 3.5em;
  float: right;
}
