body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

/* Navbar
––––––––––––––––––––––––––––––––––––––– */
nav {
  background: dodgerblue;
  height: 10vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-size: 4em;
  font-family: 'Bungee', sans-serif;
  color: white;
  margin: 0 30px;
}

#search-bar {
  width: 400px;
  background: #8ec7ff;
  margin: 0 25px;
  display: inline-flex;
}

#search-bar-textbox {
  font-size: 2em;
  width: 344px;
  color: white;
  border: none;
  background: #8ec7ff;
  padding: 5px 15px;
}

#search-icon {
  color: white;
  font-size: 3.5em;
  float: right;
}

/* Main
––––––––––––––––––––––––––––––––––––––– */
#main {
  background: white;
  width: 70%;
  margin: 0 15%;
  height: 100%
}

/* Song container
––––––––––––––––––––––––––––––––––––––– */
.song {
  margin: 50px;
}

.thumb {
  width: 160px;
  width: 160px;
}

.play-icon {
  color: white;
  background: dodgerblue;
  border-radius: 50%;
  font-size: 2em;
  height: 2em;
  width: 2em;
}
.play-icon::before {
    margin-top: 1vh;
    margin: 0.5em;
}

.play-icon:hover {
  background: #1873cc;
  cursor: pointer;
}
