body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: 'Tajawal', sans-serif;
}

/* Navbar
––––––––––––––––––––––––––––––––––––––– */
nav {
  background: dodgerblue;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
}

#logo {
  font-size: 2.5em;
  font-family: 'Bungee', sans-serif;
  color: white;
}

#search-bar {
  background: #8ec7ff;
  display: inline-flex;
}

#search-bar-textbox {
  font-size: 1em;
  color: white;
  border: none;
  background: #8ec7ff;
  padding: 5px 15px;
}

#search-icon {
  font-size: 2em;
  color: white;
  float: right;
  margin-right: 7px;
}

/* Main
––––––––––––––––––––––––––––––––––––––– */
#main {
  display: table;
  background: white;
  margin: 0 15%;
  width: 70%;
  padding-left: 5%;
  padding-bottom: 5%;
}

/* Song container
––––––––––––––––––––––––––––––––––––––– */
.song {
  width: 90%;
  background: white;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 160px auto;
}

.thumb {
  width: 160px;
  width: 160px;
}

.song-content {
  padding-left: 15px;
}

.song-header {
  display: inline-flex;
  vertical-align: top;
  padding: 7px 0;
}

.play-icon {
  color: white;
  background: dodgerblue;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

.play-icon:hover {
  background: #1873cc;
  cursor: pointer;
}

.song-details {
  line-height: 0.95;
  height: 50px;
  padding-top: 7.5px;
  padding-left: 7px;
}

.artist {
  color: #777;
  font-size: 15px;
}

.song-name {
  font-size: 20px;
}

/* Navbar Playback
––––––––––––––––––––––––––––––––––––––– */
#nav-playback {
  display: inline-flex;
  justify-content: center;
}

.nav-song-details {
  line-height: 1;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 7px;
}

.nav-artist {
  font-size: 15px;
  color: lightgray;
}

.nav-song-name {
  font-size: 18px;
  color: white;
}

.fas {
  display: flex;
  justify-content: center;
}

.nav-play-icon {
  color: white;
  font-size: 1.5em;
  padding: 0 15px;
  padding-top: 5px;
}

.nav-play-icon:hover {
  cursor: pointer;
  color: #8ec7ff;
}

.nav-thumb {
  height: 5vh;
  width: 5vh;
}
