body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: 'Tajawal', sans-serif;
}

/* Navbar
––––––––––––––––––––––––––––––––––––––– */
nav {
  background: #333;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
}

#logo {
  font-size: 3em;
  height: 100%;
  font-family: 'Bungee', sans-serif;
  color: white;
  background: dodgerblue;
  padding: 0 30px;
  line-height: 1;
  display: flex;
  align-items: center;
}

#search-bar {
  display: inline-flex;
}

#search-bar-textbox {
  max-width: 100%;
  max-height: 100%;
  font-size: 1em;
  color: #666;
  border: none;
  padding: 5px 15px;
}

#search-bar, #search-bar-textbox {
  border-radius: 5px;
  background: #f2f2f2;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.sb-active {
  background: white;
}

#search-icon {
  font-size: 2em;
  color: #666;
  float: right;
  margin-right: 7px;
}

/* Playbar
––––––––––––––––––––––––––––––––––––––– */
#pb-container {
  background: #f2f2f2;
  height: 5vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 15%;
  border-top: 1px solid #cecece;
}

/* Main
––––––––––––––––––––––––––––––––––––––– */
#main {
  display: table;
  background: white;
  margin: 0 15%;
  width: 70%;
  padding-left: 5%;
  padding-bottom: 5%;
}

/* Song container
––––––––––––––––––––––––––––––––––––––– */
.song {
  width: 90%;
  background: white;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 160px auto;
}

.thumb {
  width: 160px;
  width: 160px;
}

.song-content {
  padding-left: 15px;
}

.song-header {
  display: inline-flex;
  vertical-align: top;
  padding: 7px 0;
}

.play-icon {
  color: white;
  background: dodgerblue;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

.play-icon:hover {
  background: #1873cc;
  cursor: pointer;
}

.song-details {
  line-height: 0.95;
  height: 50px;
  padding-top: 7.5px;
  padding-left: 7px;
}

.artist {
  color: #777;
  font-size: 15px;
}

.song-name {
  font-size: 20px;
}
